h1{
    text-shadow: 3px 3px 3px #FF0000;
}

h1{ 
	color: red;
	text-align:center;
	font-size: 80;
	
	
}

body{
	background:url(immagine.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.carousel {
  width:640px;
  height:360px;
}

.container{
	
  position: relative;
  top: -300px;
  left: 800px;

}

	
}